<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Peacenik</title>
    <style>
        {{ template "style.css" . }}
    </style>
</head>
<body>
<table id="email-body">
    <tbody>
    <tr>
        <td class="side-space"></td>
        <td>
            <p>Thanks for requesting to reset your password.<br>
                Otherwise you can reset your password by clicking</p>
        </td>
        <td class="side-space"></td>
    </tr>
    <tr>
        <td class="side-space"></td>
        <td class="space-in-between"></td>
        <td class="side-space"></td>
    </tr>
    <tr>
        <td class="side-space"></td>
        <td class="button-cell">
            <a class="button" href="{{ .Link }}">Reset Password</a>
        </td>
        <td class="side-space"></td>
    </tr>
    <tr>
        <td class="side-space"></td>
        <td class="space-in-between"></td>
        <td class="side-space"></td>
    </tr>
    <tr>
        <td class="side-space"></td>
        <td>
            <p class="color-gray">If you did not make this request, you can ignore this email.</p>
        </td>
        <td class="side-space"></td>
    </tr>
    <tr>
        <td class="side-space"></td>
        <td class="bottom-space"></td>
        <td class="side-space"></td>
    </tr>
    <tr class="bgcolor-light-gray"
            id="footer">
        <td class="side-space"></td>
        <td>
            <p class="color-gray">Questions? Write letter to <span><a href="#">info@peacenik.com</a></span></p>
        </td>
        <td class="side-space"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
