address: :12001
frontend: http://localhost:3000
admins: andrey9,matt
test_mode: false

db:
  host: localhost
  port: 5432
  ssl_mode: disable
  user: postgres
  password: docker
  db_name: koto-central

s3:
  endpoint: http://127.0.0.1:9000
  region:
  key: minioadmin
  secret: minioadmin
  bucket: koto-central

smtp:
  host: smtp.mailtrap.io
  port: 587
  user: 23423423423423
  password: 4534534terer
  from: admin@koto.org
