.mentions {
  width: 100%;
}

.mentions__input {
  outline: none;
  resize: none;
  border: none;
  border-radius: 0;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 1.5;
  background: transparent;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
  min-width: 130px;
}

.mentions--singleLine .mentions__highlighter {
  padding: 1px;
  border: 2px inset transparent;
}

.mentions--singleLine .mentions__input {}

.mentions--multiLine .mentions__control {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 1.5; 
}

.mentions--multiLine .mentions__highlighter {
  min-height: 35px;
}

.mentions--multiLine .mentions__input {}

.mentions__suggestions__list {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 6px #D4D4D4;
  overflow: hidden;
}

.mentions__suggestions__item {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.mentions__suggestions__item:hover {
  text-decoration: none;
  background-color: rgba(161, 174, 200, 0.4);
}

.mentions__suggestions__item--focused {
  background-color: rgba(161, 174, 200, 0.4);
}

.mentions__mention {
  position: relative;
  z-index: 1;
  color: #599C0B;
  padding: 2px 1px 2px 0;
  background: #fff;
  pointer-events: none;
}